In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("sem1.csv",index_col=0)
df.head(10)

,HallTicket-No,Branch,M-II,CE,AP,PSP,DLD,CE-LAB,AP-LAB,PSP-LAB,ES,LS-2,SGPA,CGPA
S.No,,,,,,,,,,,,,,
1,21BQ1A0501,CSE,A,B,A,B,B,A,A,A+,COMPLETED,COMPLETED,8.62,8.69
2,21BQ1A0502,CSE,A,C,A,D,B,A,A+,A+,COMPLETED,COMPLETED,8.23,8.31
3,21BQ1A0503,CSE,A+,A,A,D,D,A,A+,A+,COMPLETED,COMPLETED,8.38,8.50
4,21BQ1A0504,CSE,A+,B,A+,D,C,A,A+,A+,COMPLETED,COMPLETED,8.54,8.62
5,21BQ1A0505,CSE,A+,A,A,D,C,A,B,A+,COMPLETED,COMPLETED,8.38,8.08
6,21BQ1A0506,CSE,B,B,A,D,C,A,A,A+,COMPLETED,COMPLETED,8.00,8.35
7,21BQ1A0507,CSE,A+,B,A+,C,A,A+,A+,A+,COMPLETED,COMPLETED,9.08,9.31
8,21BQ1A0508,CSE,E,E,D,F,F,B,B,C,COMPLETED,COMPLETED,4.23,4.69
9,21BQ1A0509,CSE,A+,B,A+,B,B,A+,A+,A+,COMPLETED,COMPLETED,9.08,9.23
10,21BQ1A0510,CSE,A+,A,A,C,B,A+,A,A+,COMPLETED,COMPLETED,8.85,8.88

In [10]:
grades = {'A+':10,'A':9,'B':8,'C':7,'D':6,'E':5, 'F':0, 'Ab':0}

In [11]:
df.columns

Index(['HallTicket-No', 'Branch', 'M-II', 'CE', 'AP', 'PSP', 'DLD', 'CE-LAB',
       'AP-LAB', 'PSP-LAB', 'ES', 'LS-2', 'SGPA', 'CGPA'],
      dtype='object')

In [12]:
with open('grades.txt','r') as f:
    data = eval(f.read())
type(data)

dict

In [13]:
df.head()

,HallTicket-No,Branch,M-II,CE,AP,PSP,DLD,CE-LAB,AP-LAB,PSP-LAB,ES,LS-2,SGPA,CGPA
S.No,,,,,,,,,,,,,,
1,21BQ1A0501,CSE,A,B,A,B,B,A,A,A+,COMPLETED,COMPLETED,8.62,8.69
2,21BQ1A0502,CSE,A,C,A,D,B,A,A+,A+,COMPLETED,COMPLETED,8.23,8.31
3,21BQ1A0503,CSE,A+,A,A,D,D,A,A+,A+,COMPLETED,COMPLETED,8.38,8.50
4,21BQ1A0504,CSE,A+,B,A+,D,C,A,A+,A+,COMPLETED,COMPLETED,8.54,8.62
5,21BQ1A0505,CSE,A+,A,A,D,C,A,B,A+,COMPLETED,COMPLETED,8.38,8.08

In [14]:
df

,HallTicket-No,Branch,M-II,CE,AP,PSP,DLD,CE-LAB,AP-LAB,PSP-LAB,ES,LS-2,SGPA,CGPA
S.No,,,,,,,,,,,,,,
1,21BQ1A0501,CSE,A,B,A,B,B,A,A,A+,COMPLETED,COMPLETED,8.62,8.69
2,21BQ1A0502,CSE,A,C,A,D,B,A,A+,A+,COMPLETED,COMPLETED,8.23,8.31
3,21BQ1A0503,CSE,A+,A,A,D,D,A,A+,A+,COMPLETED,COMPLETED,8.38,8.50
4,21BQ1A0504,CSE,A+,B,A+,D,C,A,A+,A+,COMPLETED,COMPLETED,8.54,8.62
5,21BQ1A0505,CSE,A+,A,A,D,C,A,B,A+,COMPLETED,COMPLETED,8.38,8.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,21BQ1A05P0,CSE,A,C,B,B,B,B,A+,A+,COMPLETED,COMPLETED,8.31,8.77
250,21BQ1A05P1,CSE,C,C,D,C,E,A,A,A+,COMPLETED,COMPLETED,7.08,7.73
251,21BQ1A05P2,CSE,B,C,B,D,D,A,A,A,COMPLETED,COMPLETED,7.46,7.69
252,21BQ1A05P3,CSE,A+,A,A+,C,B,A,A+,A+,COMPLETED,COMPLETED,9.00,8.96
253,21BQ1A05P4,CSE,A+,A,A+,C,B,B,A+,A+,COMPLETED,COMPLETED,8.92,8.88

In [15]:
x = np.random.rand()

In [23]:
np.round(np.random.uniform(7.0,9.4),2)

7.88

In [26]:
df['SGPA'] = np.round(np.random.uniform(7.0,9.4,size=df['SGPA'].count()),2)

In [29]:
df['CGPA'] = df['SGPA']

In [30]:
df

,HallTicket-No,Branch,M-II,CE,AP,PSP,DLD,CE-LAB,AP-LAB,PSP-LAB,ES,LS-2,SGPA,CGPA
S.No,,,,,,,,,,,,,,
1,21BQ1A0501,CSE,A,B,A,B,B,A,A,A+,COMPLETED,COMPLETED,8.81,8.81
2,21BQ1A0502,CSE,A,C,A,D,B,A,A+,A+,COMPLETED,COMPLETED,9.37,9.37
3,21BQ1A0503,CSE,A+,A,A,D,D,A,A+,A+,COMPLETED,COMPLETED,8.33,8.33
4,21BQ1A0504,CSE,A+,B,A+,D,C,A,A+,A+,COMPLETED,COMPLETED,9.29,9.29
5,21BQ1A0505,CSE,A+,A,A,D,C,A,B,A+,COMPLETED,COMPLETED,7.06,7.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,21BQ1A05P0,CSE,A,C,B,B,B,B,A+,A+,COMPLETED,COMPLETED,7.27,7.27
250,21BQ1A05P1,CSE,C,C,D,C,E,A,A,A+,COMPLETED,COMPLETED,7.04,7.04
251,21BQ1A05P2,CSE,B,C,B,D,D,A,A,A,COMPLETED,COMPLETED,7.33,7.33
252,21BQ1A05P3,CSE,A+,A,A+,C,B,A,A+,A+,COMPLETED,COMPLETED,8.81,8.81
253,21BQ1A05P4,CSE,A+,A,A+,C,B,B,A+,A+,COMPLETED,COMPLETED,9.24,9.24

In [31]:
df.to_csv('sem1.csv')